<div class="home-page">

 <div class="banner" align="center">
   <div class="container">
     <p ng-if="validNumber(number) === true" ng-bind="percent"></p>
     <p ng-if="validNumber(number) === false">Number is invalid.</p>
   </div>
 </div>

 <div class="container page">
   <div class="row" align="center">

     <!-- Break Me -->
     <button ng-click="toggleValid(validNumber(number));" ng-if="validNumber(number) === true" class="btn btn-outline-primary btn-sm">
       break me
     </button>
     <button ng-click="toggleValid(validNumber(number));" ng-if="validNumber(number) === false" class="btn btn-outline-primary btn-sm">
       fix me
     </button>
     <p>I added this button to demonstrate the 'would be marked invalid' part of this assignment</p>
   </div>
 </div>

</div>
